.artist-card__name {
  font-size: 16px;
  font-weight: 400;
}

.artist-card {
  display: flex;
  gap: 12px;

  &__discover {
    margin-bottom: 25px;
  }

  &__heightlight {
    margin-bottom: 30px;
  }
  &--bg-dark {
    background-color: $background-color;
    padding: 10px 20px;
    border-radius: 20px;
  }
}
