.button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  background-color: $call-to-action-color;
  border-radius: 20px;
  color: $text-color;
  text-align: center;

  &--padding-50 {
    padding: 20px 50px;
  }

  &--padding-30 {
    padding: 19px 30px;
  }

  &--bg-transparent {
    background-color: transparent;
    border: 1px solid $call-to-action-color;
  }
}

.button {
  display: inline-block;
  margin-bottom: 40px;

  &__hero {
    display: block;
  }

  @media screen and (width < 834px) {
    &--mob-visibility {
      display: block;
    }

    &--tab-visibility {
      display: none;
    }
  }

  @media screen and (width > 833px) {
    margin-bottom: 20px;

    &--mob-visibility {
      display: none;
    }

    &--tab-visibility {
      display: inline-block;
    }
  }

  @media screen and (width > 1279px) {
    margin-bottom: 30px;
  }

  &__creators,
  &__header {
    margin-bottom: 0;
  }
}

.button-link__icon {
  &--white {
    fill: $text-color;
  }

  &--action-color {
    fill: $call-to-action-color;
  }
}
