.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;

  @media screen and (width > 833px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.burger-menu {
  display: block;

  @media screen and (width > 1279px) {
    display: none;
  }
}

.burger-menu__icon {
  fill: $text-color;
  transition: fill 250ms ease-in;

  .burger-menu:hover &,
  .burger-menu:focus & {
    fill: $call-to-action-color;
  }
}

.menu__link {
  transition: color 250ms ease-in;

  &:hover,
  &:focus {
    color: $call-to-action-color;
  }
}
