.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;

  // margin: 0 auto;
  @media screen and (width > 833px) {
    // width: 834px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.burger-menu {
  display: block;

  @media screen and (width > 1279px) {
    display: none;
  }
}
