.hero-card {
  margin-bottom: 40px;
  width: 315px;

  border-radius: 22px;
  background-color: $background-secondary;
  overflow: hidden;

  @media screen and (width > 833px) {
    width: 330px;
    margin-bottom: 0;
  }

  @media screen and (width > 1279px) {
    width: 510px;
  }
}

.collection-card__hero-img-thumb {
  width: 315px;
  height: 206px;

  @media screen and (width > 833px) {
    width: 330px;
    height: 220px;
  }

  @media screen and (width > 1279px) {
    width: 510px;
    height: 400px;
  }

  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}

.hero-card__info {
  padding: 20px;
}

.hero-card__title {
  margin-bottom: 10px;
  font-size: 22px;
}

.artist-card__name {
  font-size: 16px;
  font-weight: 400;
}

.artist-card__link {
  display: flex;
  gap: 12px;
}
