.hero-card {
  margin-bottom: 40px;
  width: 315px;

  border-radius: 22px;
  background-color: $background-secondary;
  overflow: hidden;

  transition: box-shadow 250ms ease-in;

  &:hover,
  &:focus {
    box-shadow: $box-shadow;
  }

  @media screen and (width > 833px) {
    width: 330px;
    margin-bottom: 0;
  }

  @media screen and (width > 1279px) {
    width: 510px;
  }
}

.hero-card__link {
  text-align: start;
}

.collection-card__hero-img-thumb {
  width: 315px;
  height: 206px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  overflow: hidden;

  @media screen and (width > 833px) {
    width: 330px;
    height: 220px;
  }

  @media screen and (width > 1279px) {
    width: 510px;
    height: 400px;
  }
}

.hero-card__info {
  padding: 20px;
}

.hero-card__title {
  margin-bottom: 10px;
  font-size: 22px;
}
