@font-face {
  font-family: "Work Sans";
  src: url("WorkSans-SemiBold.woff2") format("woff2"),
    url("WorkSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("WorkSans-Regular.woff2") format("woff2"),
    url("WorkSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("SpaceMono-Regular.woff2") format("woff2"),
    url("SpaceMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("SpaceMono-Bold.woff2") format("woff2"),
    url("SpaceMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
